.u-section-1 .u-sheet-1 {
  min-height: 716px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 83px auto 0 0;
}

.u-section-1 .u-image-1 {
  height: 406px;
  margin-top: 31px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 75px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 184px;
}

.u-section-2 .u-text-1 {
  line-height: 1.59;
  font-weight: 700;
  margin: 60px 21px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 380px;
}

.u-section-3 .u-list-1 {
  margin-top: 133px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 158px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px 30px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px 30px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 10px 68px 10px 66px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -39px 351px 50px auto;
  padding: 10px 68px 10px 66px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 130px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 151px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 90px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 418px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -303px;
  }

  .u-section-3 .u-btn-2 {
    margin: 194px auto 60px 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 513px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.4;
  margin: 25px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 638px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  min-height: 235px;
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 36px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 36px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 36px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 36px;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-icon-5 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 36px;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-icon-6 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 36px;
}

.u-section-5 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66666px) calc(33.3333% - 6.66666px) calc(33.3333% - 6.66666px);
    min-height: 614px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 46px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 22.6667px) calc(33.3333% - 22.6667px) calc(33.3333% - 22.6667px);
    min-height: 504px;
    grid-gap: 34px 34px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-5 .u-list-1 {
    width: 509px;
    margin: 47px auto 60px -67px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 597px;
    grid-gap: 0px 0px;
    grid-template-columns: calc(50% - 17px) calc(50% - 17px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 20px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 814px;
}

.u-section-6 .u-image-1 {
  width: 794px;
  height: 794px;
  margin: 10px auto 10px 151px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-left: 146px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-6 .u-image-1 {
    width: 456px;
    height: 456px;
    margin: -29px -58px 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 305px;
}

.u-section-7 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 132px;
  grid-gap: 30px 30px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 20px 30px 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 459px;
}

.u-section-8 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-8 .u-text-2 {
  line-height: 1.4;
  margin: 25px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 729px;
}

.u-section-9 .u-text-1 {
  margin: 104px auto 0 0;
}

.u-section-9 .u-text-2 {
  line-height: 1.4;
  margin: 22px 0 0;
}

.u-section-9 .u-gallery-1 {
  margin-top: 90px;
  margin-bottom: 60px;
  height: 180px;
}

.u-section-9 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-9 .u-back-image-1 {
  width: 375px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-9 .u-back-image-2 {
  width: 375px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-9 .u-back-image-3 {
  width: 375px;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-9 .u-back-image-4 {
  width: 375px;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-9 .u-back-image-5 {
  width: 375px;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-9 .u-back-image-6 {
  width: 375px;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-9 .u-gallery-1 {
    margin-top: 104px;
  }
} .u-section-10 {
  background-image: url("images/486f5e89787ccee71613397a3e2c44d1873500b47aa6bffa4a55bc4f62921f40ee6f00c01ac5b5442a304fbf4bdab6b9009848d89a8e29152bfc97_1280.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 700px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 482px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 454px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 577px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 319px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 209px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 332px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 86px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 209px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1042px;
}

.u-section-11 .u-text-1 {
  margin: 74px 392px 0 0;
}

.u-section-11 .u-image-1 {
  width: 872px;
  height: 872px;
  margin: 0 auto;
}

.u-section-11 .u-text-2 {
  margin: -761px 392px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-right: 192px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 720px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -609px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: 24px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -453px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-11 .u-image-1 {
    width: 440px;
    height: 440px;
    margin-top: 102px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -431px;
    margin-bottom: 60px;
  }
} .u-section-12 {
  background-image: none;
  min-height: 646px;
}

.u-section-12 .u-text-1 {
  margin: 112px calc(((100% - 1140px) / 2) + 393px) 0 calc(((100% - 1140px) / 2));
}

.u-section-12 .u-gallery-1 {
  height: 243px;
  width: calc(((100% - 1140px) / 2) + 1610px);
  margin: 67px auto 44px calc(((100% - 1140px) / 2) + -470px);
}

.u-section-12 .u-gallery-item-1 {
  margin-right: 30px;
}

.u-section-12 .u-back-image-1 {
  width: 460px;
}

.u-section-12 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-2 {
  margin-right: 30px;
}

.u-section-12 .u-back-image-2 {
  width: 460px;
}

.u-section-12 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-3 {
  margin-right: 30px;
}

.u-section-12 .u-back-image-3 {
  width: 460px;
}

.u-section-12 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-4 {
  margin-right: 30px;
}

.u-section-12 .u-back-image-4 {
  width: 460px;
}

.u-section-12 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-5 {
  margin-right: 30px;
}

.u-section-12 .u-back-image-5 {
  width: 460px;
}

.u-section-12 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-6 {
  margin-right: 30px;
}

.u-section-12 .u-back-image-6 {
  width: 460px;
}

.u-section-12 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-12 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 193px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-12 .u-gallery-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-12 .u-gallery-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-12 .u-gallery-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 718px;
  }

  .u-section-12 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-12 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 727px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  margin: 183px 490px 0 394px;
}

.u-section-13 .u-text-2 {
  font-weight: 700;
  margin: -34px 883px 0 0;
}

.u-section-13 .u-text-3 {
  font-weight: 700;
  margin: -38px auto 0 786px;
}

.u-section-13 .u-text-4 {
  margin: 51px 899px 0 0;
}

.u-section-13 .u-text-5 {
  margin: -175px 505px 0 394px;
}

.u-section-13 .u-text-6 {
  margin: -175px 113px 0 786px;
}

.u-section-13 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 33px auto 0 0;
  padding: 10px 68px 10px 66px;
}

.u-section-13 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -39px auto 0 394px;
  padding: 10px 68px 10px 66px;
}

.u-section-13 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -39px 155px 60px auto;
  padding: 10px 68px 10px 66px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    width: auto;
    margin-right: 390px;
    margin-left: 294px;
  }

  .u-section-13 .u-text-2 {
    width: 229px;
    margin-right: 683px;
  }

  .u-section-13 .u-text-3 {
    margin-left: 648px;
  }

  .u-section-13 .u-text-4 {
    margin-right: 699px;
  }

  .u-section-13 .u-text-5 {
    margin-right: 405px;
    margin-left: 294px;
  }

  .u-section-13 .u-text-6 {
    margin-right: 13px;
    margin-left: 686px;
  }

  .u-section-13 .u-btn-2 {
    margin-left: 294px;
  }

  .u-section-13 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    margin-right: 280px;
    margin-left: 225px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 463px;
  }

  .u-section-13 .u-text-3 {
    margin-left: 496px;
  }

  .u-section-13 .u-text-4 {
    margin-right: 479px;
  }

  .u-section-13 .u-text-5 {
    margin-top: 20px;
    margin-right: 295px;
    margin-left: 184px;
  }

  .u-section-13 .u-text-6 {
    margin-right: 0;
    margin-left: 479px;
  }

  .u-section-13 .u-btn-2 {
    margin-top: 20px;
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    margin-top: 313px;
    margin-right: 190px;
    margin-left: 169px;
  }

  .u-section-13 .u-text-2 {
    margin-top: -164px;
    margin-right: 283px;
  }

  .u-section-13 .u-text-3 {
    margin-top: 112px;
    margin-left: 372px;
  }

  .u-section-13 .u-text-4 {
    margin-right: 299px;
  }

  .u-section-13 .u-text-5 {
    margin-right: 205px;
    margin-left: 94px;
  }

  .u-section-13 .u-text-6 {
    margin-top: 20px;
    margin-left: 299px;
  }

  .u-section-13 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 591px;
    margin-right: 126px;
    margin-left: 0;
  }

  .u-section-13 .u-text-2 {
    margin-top: -398px;
    margin-right: 83px;
  }

  .u-section-13 .u-text-3 {
    width: auto;
    margin-top: 706px;
    margin-left: 0;
  }

  .u-section-13 .u-text-4 {
    width: auto;
    margin-top: -728px;
    margin-right: 99px;
  }

  .u-section-13 .u-text-5 {
    width: auto;
    margin-top: 209px;
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-13 .u-text-6 {
    width: auto;
    margin-top: 189px;
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-13 .u-btn-1 {
    margin-top: -725px;
  }

  .u-section-13 .u-btn-2 {
    margin-top: 342px;
  }

  .u-section-13 .u-btn-3 {
    margin-top: 318px;
    margin-right: auto;
    margin-left: 0;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 10px;
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 753px;
}

.u-section-15 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-15 .u-text-2 {
  font-style: italic;
  margin: 20px 276px 0 0;
}

.u-section-15 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-15 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-15 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-15 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-15 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-15 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-15 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-15 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-15 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-15 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-15 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-15 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-15 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-2 {
    width: 864px;
    margin-right: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-15 .u-text-2 {
    width: 340px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 1371px;
}

.u-section-16 .u-form-1 {
  --thumb-color: #7300ab;
  --thumb-hover-color: #666666;
  --track-color: #c0c0c0;
  --track-active-color: #7300ab;
  height: 1000px;
  margin: 37px 428px 60px 0;
}

.u-section-16 .u-form-group-1 {
  margin-left: 0;
}

.u-section-16 .u-label-1 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-16 .u-input-1 {
  height: 46px;
  font-weight: 400;
}

.u-section-16 .u-form-group-2 {
  margin-left: 0;
}

.u-section-16 .u-label-2 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-16 .u-input-2 {
  height: 46px;
  font-weight: 400;
}

.u-section-16 .u-form-group-3 {
  margin-left: 0;
}

.u-section-16 .u-label-3 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-16 .u-input-3 {
  height: 46px;
  font-weight: 400;
}

.u-section-16 .u-form-group-4 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-16 .u-label-4 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-16 .u-form-group-5 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-16 .u-label-5 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-16 .u-form-group-6 {
  margin-left: 0;
}

.u-section-16 .u-label-6 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-16 .u-input-8 {
  font-weight: 400;
}

.u-section-16 .u-form-group-7 {
  margin-left: 0;
}

.u-section-16 .u-label-7 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-16 .u-form-group-8 {
  margin-left: 0;
}

.u-section-16 .u-label-8 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-16 .u-form-group-9 {
  margin-left: 0;
}

.u-section-16 .u-label-9 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-16 .u-form-group-10 {
  margin-left: 0;
}

.u-section-16 .u-label-10 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-16 .u-form-group-11 {
  margin-left: 0;
}

.u-section-16 .u-label-11 {
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-16 .u-input-9 {
  height: 46px;
  font-weight: 400;
}

.u-section-16 .u-line-1 {
  margin-left: 0;
}

.u-section-16 .u-form-group-13 {
  margin-left: 0;
}

.u-section-16 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  padding: 10px 52px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-form-1 {
    width: 470px;
    margin-right: 228px;
  }

  .u-section-16 .u-form-group-1 {
    --progress: 0%;
  }

  .u-section-16 .u-form-group-2 {
    --progress: 0%;
  }

  .u-section-16 .u-form-group-3 {
    --progress: 0%;
  }

  .u-section-16 .u-form-group-6 {
    --progress: 0%;
  }

  .u-section-16 .u-input-8 {
    height: 46px;
  }

  .u-section-16 .u-form-group-8 {
    --progress: 0%;
  }

  .u-section-16 .u-form-group-10 {
    --progress: 0%;
  }

  .u-section-16 .u-form-group-11 {
    --progress: 0%;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-form-1 {
    margin-right: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-form-1 {
    width: 340px;
  }
}